.row.payment-row
    .col-md-2.offset-1
        h3.text-blue-dark Personal Information
    .col-md-8
        .form-group.mb-4
            label Full Name
            p   Derrik Sun
                include ../locked/locked
        .form-group.row
            .col-6
                label(for='phoneNumber') Phone Number: *
                input#phoneNumber.form-control.input-tel(
                    type = "tel",
                    pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}",
                    required = "required",
                    name = "str_phone",
                    placeholder = "(XXX) XXX-XXXX"
                    )
            .col-6
                .row.payment-DOB
                    label(for='month').col-12 Date of Birth: *
                    .col-4.pr-0
                        //input.form-control.custom-select.select2-selection(
                        //    id="month",
                        //    type="month"
                        //    name="month",
                        //    data-width="100%",
                        //    data-placeholder="Month",
                        //    required="required",
                        //    data-minimum-results-for-search="Infinity"
                        //    )
                        select.form-control.bear-short-months(
                            required="required",
                            id="month",
                            type="month",
                            name="month"
                            )

                    .col-4.pr-0
                        //input.form-control.custom-select.select2-selection(
                        //    id="date",
                        //    type="date"
                        //    name="date",
                        //    data-width="100%",
                        //    data-placeholder="Date",
                        //    required="required",
                        //    data-minimum-results-for-search="Infinity"
                        //    )
                        select.form-control.bear-dates(
                            required="required"
                        )
                    .col-4.pr-0
                        //input.form-control.custom-select.select2-selection(
                        //    id="year",
                        //    type="year"
                        //    name="year",
                        //    data-width="100%",
                        //    placeholder="Year",
                        //    required="required",
                        //    data-minimum-results-for-search="Infinity"
                        //    )
                        select.form-control.bear-years(
                            required="required"
                        )
                    .col-12
        .form-group.row
            .col-md-9
                include ../adress-modal/adress-modal

.row.payment-row.border-bottom-0
    .col-md-2.offset-1
        h3.text-blue-dark Citation Information
    .col-md-8
        .form-group.row
            .col-6
                label(for='str_county') Country of Violation: *
                select#str_county.form-control.custom-select.select2-selection(
                    name="str_county",
                    data-minimum-results-for-search="Infinity"
                    )
                    option(val="USA")  USA
            .col-6
                label(for='str_court') Court of Violation: *
                select#str_court.form-control.custom-select.select2-selection(
                    name="str_court",
                    data-minimum-results-for-search="Infinity"
                    )
                    option(val="USA")  USA
        .form-group.row
            .col-6
                label(for='str_docket') Case Number: *
                input#str_docket.form-control.custom-select(type="text", placeholder="e.g. 092769302", name="str_docket")
            .col-6
                p.font-italic
                    em
                        | If you have a citation number AND a case or docket number, we suggest using the case or
                        | docket number.}
        .row
            .col-6.form-group
                label(for='str_state') Driver’s License State: *
                select#str_state.form-control.custom-select.js-example-placeholder-single.js-states(
                    name="states[]",
                    data-placeholder="Select a state",
                    data-width="100%",
                    data-minimum-results-for-search="Infinity"
                    )
                    +listOfStates
            .col-6
                label(for='driverslicense') Driver’s License Number: *
                input#driverslicense.form-control.custom-select(type="text", placeholder="e.g. DL05876", name="driverslicense")
.row.payment-row.border-bottom-0
    .col-md-8.offset-3
        .form-group.row
            .col-12
                p.text-danger Important!
                p.mb-5
                    | It is your responsibility to make sure you are eligible for traffic school. We will be submitting your
                    | course results to the DMV and Court, but the submission may not be accepted if you have unpaid court fees
                    | or errors in your information. If you require us to RESUBMIT your test results again, we will assess a
                    | $6.99 fee to reissue your certificate and resubmit your course results.
            .col-6
                button.w-100.btn.btn-danger(type='submit') Save Changes & Continue



