form#signUp.form.form-sign
    .form-group.mb-5
        h2.form-sign-title Create Your Account
    .form-group.mb-3
        input.form-control(
            id="signUp_email",
            type="email",
            name="signUp_email",
            required="required",
            placeholder="Email"
        )
    .form-group.mb-3
        input.form-control(
            id="signUp_pass",
            type="password",
            required="required",
            placeholder="Create Password",
            name="signUp_pass",
            value=""
        )

        span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#signUp_pass')
    .form-group.mb-5
        a(href="#").forgot-link Forgot password?
    .form-group
        button.btn.btn-danger.w-100(type="submit") Sign Up
    .form-group
        h5.text-center
            a(href="#").form-bottom-link Don’t have an account? Sign In.
