form#sign-up.form.form-sign
    .form-group.mb-5
        h2.form-sign-title Create Your Account
    .form-group.mb-3
        input.form-control(
            id="signup_email",
            type="email",
            name="signup_email",
            required="required",
            placeholder="Email"
        )
    .form-group
        input.form-control(
            id="signup_pass",
            type="password",
            required="required",
            placeholder="Create Password",
            name="signup_pass",
            value=""
        )

        span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#signup_pass')
    .form-group.mt-5
        button.btn.btn-danger.w-100(type="submit") Sign Up
    .form-group
        h5.text-center
            a(href="#").form-bottom-link Don’t have an account? Sign In.
