form#sign-in.form.form-sign
    .form-group.mb-5
        h2.form-sign-title Welcome Back!
    .form-group.mb-3
        input.form-control.mb-3(
            id="signin_email",
            type="email",
            name="sign_email",
            required="required",
            placeholder="Email"
            )
        input.form-control.mb-3(
            id="signin_pass",
            type="password",
            required="required",
            placeholder="Create Password",
            name="signin_pass",
            value=""
            )

        span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#signin_pass')
    .form-group.mb-5
        a(href="#").forgot-link Forgot password?
    .form-group
        button.btn.btn-danger.w-100(type="submit") Sign Up
    .form-group
        h5.text-center
            a(href="#").form-bottom-link Don’t have an account? Sign Up.
