<!-- Search Field -->
#locationField.locationField
    label(for='autocomplete') Address: *
    input.form-control(
        name="str_address",
        value="888, Brannan Street",
        id="autocomplete",
        placeholder="Start typing full address",
        type="text",
        required="required"
    )
    button#action-edit.edit
        i.fa.fa-pencil
#autocomplete-edit.payment-modal
    .address-form
        //button.close(type='button', data-toggle="collapse", data-target="#address-collapse")
        //    span(aria-hidden='true') ×
        .row.mb-4
            <!-- Street Address -->
            .col-sm-12
                label(for='street_number') Address line 1: *
                .street-line.form-control
                    input#street_number(
                        type='text',
                        placeholder='888',
                        name="str_number",
                        required="required"
                        )
                    input#route(
                        type='text',
                        placeholder='Brenann Street',
                        name="str_name",
                        required="required"
                        )
        .row.mb-4
            .col-sm-12
                label(for="address_2") Address line 2:
                input#address_2.form-control(
                    type='text',
                    name="address_2",
                    placeholder='Address Line 2')
        .row.mb-4
            .col-sm-6
                <!-- City -->
                label(for='locality') City: *
                input#locality.form-control(
                    type='text',
                    name="city",
                    placeholder='San Fransisco',
                    required="required")
            .col-sm-6
                label(for='administrative_area_level_1') State: *
                input.form-control( id="administrative_area_level_1", name="state", required)
        <!-- State & Zip -->
        .row.mb-4

            .col-sm-6
                label(for='country') Country: *
                input.form-control(id="country", name="country" required)

            .col-sm-6
                label(for='postal_code') Postal code: *
                input#postal_code.form-control(required, value="",name="postal_code", title="Enter valid ZIP 4-5 numbers" )

        .row
            .col-sm-6.mb-3
                button.w-100.btn.btn-outline-secondary(id="action-reset") Clear Address
            .col-sm-6
                button.w-100.btn.btn-danger(id="action-save") Save Changes



